<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>832654486887-t20c96rm79tiu0b9omqma5oheoiqq77e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.832654486887-t20c96rm79tiu0b9omqma5oheoiqq77e</string>
	<key>API_KEY</key>
	<string>AIzaSyAwZcyMMcBwQvxDXYbYLt54vOrTb74-TS0</string>
	<key>GCM_SENDER_ID</key>
	<string>832654486887</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>au.com.CatchUp</string>
	<key>PROJECT_ID</key>
	<string>serene-foundry-169310</string>
	<key>STORAGE_BUCKET</key>
	<string>serene-foundry-169310.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:832654486887:ios:6ed94e1a8d7c1c07</string>
	<key>DATABASE_URL</key>
	<string>https://serene-foundry-169310.firebaseio.com</string>
</dict>
</plist>